.cardBody{
    width:20rem;
    height: auto;
    margin-left: 1rem; 
    padding:1px ;
    border: none !important;  
}
.bodyType{
    float: left;
}
.modelName{
    font-weight:bold;
    float: left;
}
.modelType{
    margin-left:0.5rem;
    float:left
}
.imagePosition{
    margin-top: 1rem;
    width: 18rem;
}
.linkPageLearn{
    margin-left: 2rem;
    text-decoration: none;
    color: rgb(3, 74, 180); 
    font-weight: bold;
}
.linkPageShop{
       float:right;
       margin-right: 6rem;
       margin-bottom:2rem;
       text-decoration: none; 
       color: rgb(3, 74, 180); 
       font-weight: bold;    
}
.nextArrow{
    width: 1rem;
    height: 1rem;  
    margin-left: 0.5rem;  
    margin-top: 0rem;
    color:rgb(3, 74, 180) !important; 
}

.custombuttongroup {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content:right; 
    right: 1rem;   
  }
  .containerPaddingBottom {
    padding-bottom: 60px;
    
  }
  .nextSlide{
    height:2.5rem; 
    width:2.5rem;
    margin-left: 1rem;
  }
  .prevSlide{
    height:2.5rem; 
    width:2.5rem;
    float: right;
    transform: rotate(-180deg);
    overflow:hidden;
   
  }



@media screen and (max-width: 400px) {
    .cardBody{
        width:30rem !important;
        height: auto;
        margin-left: 1rem; 
        padding:1px ;   
    }
    .linkPageLearn{
        width:auto;
        margin-left: 5rem !important;
        text-decoration: none;
        color: rgb(3, 74, 180); 
        font-weight: bold;
        font-size: small;
    }
    .linkPageShop{
        width:auto;
        float:right;
        margin-right: 10rem !important;
        margin-bottom:2rem;
        text-decoration: none; 
        color: rgb(3, 74, 180); 
        font-weight: bold;  
        font-size: small;  
 }

  }


 
 


  